<nav class="gcweb-menu" typeof="SiteNavigationElement">
    <h2 class="wb-inv">{{ i18nText-menu }}</h2>
    <button type="button" aria-haspopup="true" aria-expanded="false">{{ i18nText-menuBtn }} <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
    <ul role="menu" aria-orientation="vertical">
{%- if i18nText-lang == "fr" -%}
        <li role="presentation"><a role="menuitem" href="#">À propos de nous</a></li>
        <li role="presentation"><a role="menuitem" href="#">Publications</a></li>
        <li role="presentation"><a role="menuitem" href="#">Voyage et tourisme</a></li>
        <li role="presentation"><a role="menuitem" href="#">Ressources</a></li>
        <li role="presentation"><a role="menuitem" href="#">Salle de médias</a></li>
        <li role="presentation"><a role="menuitem" href="#">Carrières</a></li>
        <li role="presentation"><a role="menuitem" href="#">Contactez-nous</a></li>
{%- elsif i18nText-lang == "en" -%}
        <li role="presentation"><a role="menuitem" href="#">About Us</a></li>
        <li role="presentation"><a role="menuitem" href="#">Publications</a></li>
        <li role="presentation"><a role="menuitem" href="#">Resources</a></li>
        <li role="presentation"><a role="menuitem" href="#">Media Room</a></li>
        <li role="presentation"><a role="menuitem" href="#">Careers</a></li>
        <li role="presentation"><a role="menuitem" href="#">Contact Us</a></li>
{%- endif -%}
    </ul>
</nav>